<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eclipse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Eclipse.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Clan" serializeAs="String">
                <value />
            </setting>
            <setting name="Strength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Dexterity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Constitution" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Intelligence" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Luck" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Charisma" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HP" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HPMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HPOverflow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Armor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XPMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Alpha 1.0.0.0</value>
            </setting>
            <setting name="isBeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Agility" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Endurance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Hunger" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Infection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tutorialList" serializeAs="String">
                <value />
            </setting>
            <setting name="tutorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="carryingCap" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HPOverflowMax" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="overweight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="weapon" serializeAs="String">
                <value>Fists</value>
            </setting>
            <setting name="craftLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="godMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemInQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="notStable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="identifier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="achievementList" serializeAs="String">
                <value />
            </setting>
            <setting name="killCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Eclipse.Properties.Settings>
    </userSettings>
</configuration>