<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eclipse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Eclipse.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Clan" serializeAs="String">
                <value />
            </setting>
            <setting name="Strength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Dexterity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Constitution" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Intelligence" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Luck" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Charisma" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HP" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HPMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HPOverflow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Armor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XPMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Alpha 1.0.0.0</value>
            </setting>
            <setting name="isBeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tips" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Stats are randomly chosen on game creation - Base your character off of these!</string>
                        <string>You can choose one stat to upgrade every level.</string>
                        <string>Once in a while, you'll stumble upon a survivor. With a high enough Charisma, maybe you could recruit them!</string>
                        <string>If you're feeling Lucky, you could find more valuable loot in drops!</string>
                        <string>Each stat you have can influence different aspects of Eclipse!</string>
                        <string>A high Constitution means you're less likely to be infected!</string>
                        <string>Not sure what your item does? Maybe you need a higher Intelligence!</string>
                        <string>Strength plays a role in your Armor, along with any you are currently wearing.</string>
                        <string>A higher Agility can improve your accuracy and improve your dodging!</string>
                        <string>Want more damage with ranged weapons and a higher accuracy of melee weapons? Improve Dexterity!</string>
                        <string>A high Endurance can lessen the effects of Infection and Hunger!</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Agility" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Endurance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Hunger" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Infection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tutorialList" serializeAs="String">
                <value />
            </setting>
            <setting name="tutorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="carryingCap" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HPOverflowMax" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="overweight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="weapon" serializeAs="String">
                <value>Fists</value>
            </setting>
            <setting name="craftLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </Eclipse.Properties.Settings>
    </userSettings>
</configuration>